@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  width: 375px;
  margin: auto;
  border: 1px solid black;
  background-color: #f5f3f7;
}

.background {
  position: absolute;
  background-image: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(right, #e942ff, #8838ff);
  width: 200px;
  height: 500px;
  border-bottom-right-radius: 100000%;
  border-top-right-radius: 1000%;
  z-index: -1;
}

.mobile {
  padding: 0.7em;
  margin: 4em auto 0 auto;
  width: 263px;
  background-color: white;
  border-radius: 15px;
}

.person {
  background-image: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(right, #e942ff, #8838ff);
  border-radius: 20px 20px 8px 8px;
}

.person .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7em;
  padding: 0 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person .profile img {
  width: 15%;
  border-radius: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.person .profile .pers {
  line-height: 0.01;
  color: white;
}

.person .profile .pers h5 {
  font-weight: 500;
}

.person .profile .pers p {
  font-size: 0.8rem;
  color: #d89eff;
  position: relative;
  top: -5px;
}

.notch {
  background-color: white;
  width: 60%;
  margin: auto;
  height: 25px;
  border-radius: 0 0 15px 15px;
}

.chats {
  background-color: #f5f3f7;
  padding: 1em 0.5em;
}

.chat-left {
  border-radius: 5px 5px 5px 2px;
  color: #9241c8;
  background-color: #a39daa;
  font-size: 0.75rem;
  padding: 0em 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chat-right {
  border-radius: 5px 5px 2px 5px;
  color: #6e5d7e;
  background-color: white;
  font-size: 0.75rem;
  padding: 0 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: inline-end;
}

.dogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  gap: 0.5em;
  margin-left: 95px;
}

.dogs img {
  width: 30%;
  border-radius: 8px;
}

.rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background-image: linear-gradient(right, #e942ff, #8838ff);
  color: white;
  height: 50px;
  border-radius: 15px 15px 15px 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.8em;
}

.rates .spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7em;
  margin-left: 0.7em;
}

.rates .spec .circle {
  border: 1px solid white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.rates .spec p {
  font-weight: 400;
  font-size: 0.75rem;
}

.rates h6 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 1em;
}

.type {
  background-color: white;
  width: 90%;
  height: 40px;
  margin: 0.5em auto 0 auto;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.5em 0 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type p {
  color: #c6cacd;
  font-size: 0.85rem;
}

.type .send-button {
  background-color: #3e2753;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type .send-button p {
  font-weight: 700;
  font-size: 1em;
  color: white;
}

.content {
  text-align: center;
  margin: 4em 2em;
}

.content h1 {
  font-size: 2.5em;
  color: #3e2753;
}

.content p {
  color: #a39daa;
}

.ch-1,
.ch-2,
.ch-5 {
  width: 60%;
}

.ch-3 {
  width: 60%;
  position: relative;
  left: 97px;
}

.ch-4 {
  width: 45%;
  position: relative;
  left: 133px;
}

.ch-6,
.ch-7 {
  width: 80%;
}

/* MEDIA QUERIES */
@media (min-width: 1000px) {
  body {
    width: 1440px;
  }
  .background {
    width: 430px;
    border-radius: 0 0 200px 200px;
    left: -100px;
  }
  .foreground {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .foreground .mobile {
    width: 263px;
    position: relative;
    left: -90px;
  }
  .foreground .content {
    width: 400px;
    text-align: left;
    position: relative;
    left: -300px;
  }
}
/*# sourceMappingURL=main.css.map */